.App {
  text-align: center;
}

.icon-style {
  border-radius: 50%;
  border: none;
  outline: none;
}

.app-titles {
  font-weight: bold;
  color: #a29bfe;
}

.app-subtitles {
  font-weight: bold;
  color: #9ea7ad;
}

.app-paragraph {
  font-weight: bold;
  color: #4d4d4d;
}

